.container {
    display: flex; 
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.leftContent {
    flex: 1;
    min-height: 40rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.rightContent {
    border-radius: 0.4rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border: 1px solid #DDD;
    width: 0; /* Start with width 0 (hidden) */
    overflow: hidden; /* Hide any content that's outside the container */
    opacity: 0; /* Start with the content hidden */
    transition: width 1s ease-out, opacity 1s ease-out; /* Smooth transition for width and opacity */
}

.rightContent.show {
    width: 30rem; /* Full width when shown */
    opacity: 1; /* Fully visible when shown */
    padding: 2rem;
}

.explanation {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.explanation.show {
}

.explanationWord {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 1rem;
}

.explanationMeaning {
    font-size: 12pt;
    margin-bottom: 1rem;
}

.saveButton {
    background-color: rgb(31, 71, 233);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    padding: 0.4rem;
}

.paragraph {
    word-wrap: break-word;
}

.spansegment {
    display: inline-block;
    word-wrap: break-word;
    padding: 0.4rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.spansegmentAvailable {
    background-color: #DDD;
}

.spansegmentSelected {
    background-color: rgb(31, 71, 233);
    color: white;
    transform: scale(1.1);
}

.spansegment:hover {
    background-color: rgb(31, 71, 233);
    color: white;
    transform: scale(1.1);
}